
body {
    margin:0;
}

h1 {
    font-size: 2.5em;
}

#content {
    margin: 0 auto;
    width: 80%;
    
}

.card {

    justify-content: space-evenly;
    display: inline-flex;
    padding: 20px;
    background-color: rgb(148, 148, 148);
    margin: 10px;
    width: 250px;
    height: fit-content;
    min-height: 150px
}

.card button {
    width: 240px;
}

.btns {
    display: inline;
    margin: 5px;
}

.btns button {
    width: 45%;
}

image {
    width: 100%;
}

table {
   width: 100%;
}

table, th, td {
   border: 1px solid;
}

td button {
    width: 100%;
}