
body {
    margin:0;
}

#content {
    margin: 0 auto;
    width: 80%;
    
}

.card {

    justify-content: space-evenly;
    display: inline-flex;
    padding: 20px;
    background-color: rgb(148, 148, 148);
    margin: 5px;
    width: 250px;
    height: 150px;
}

.card button {
    width: 234px;
}

.user {
    
}

.btns {
    display: inline;
    margin: 5px;
}

.btns button {
    width: 45%;
}

image {
    width: 100%;
}